@font-face {
  font-family: "RO Sans";
  src: url("/fonts/RO-SansWebText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url("/fonts/RO-SansWebText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url("/fonts/RO-SansWebText-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RO Serif";
  src: url("/fonts/RO-SerifWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url("/fonts/RO-SerifWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url("/fonts/RO-SerifWeb-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
